html, body, section, article, h1, h2, p {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  font-family: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  line-height: 1.5;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
}